{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}




{% block main %}
    <h3 style="font-size: 30px; color: #444444;"> Quote </h3>
    <h5>Popular companies</h5>
    <form action="/quote" method="post">
        <button style= "margin: 5px" class="btn btn-danger" type="submit" value="GOOG" onclick="getElementById('symbol').value= this.value">Google</button>
        <button class="btn btn-danger" type="submit" value="AAPL" onclick="getElementById('symbol').value= this.value">Apple</button>
        <button class="btn btn-danger" type="submit" value="AMZN" onclick="getElementById('symbol').value= this.value">Amazon</button>
        <button class="btn btn-danger" type="submit" value="TSLA" onclick="getElementById('symbol').value= this.value">Tesla</button>
        <button class="btn btn-danger" type="submit" value="MSFT" onclick="getElementById('symbol').value= this.value">Microsoft</button>
        <button class="btn btn-danger" type="submit" value="FB" onclick="getElementById('symbol').value= this.value">Facebook</button>
        <button class="btn btn-danger" type="submit" value="T" onclick="getElementById('symbol').value= this.value">AT&T</button>
        <button class="btn btn-danger" type="submit" value="INTC" onclick="getElementById('symbol').value= this.value">Intel</button>
        <button class="btn btn-danger" type="submit" value="F" onclick="getElementById('symbol').value= this.value">Ford Motor</button>
        <button class="btn btn-danger" type="submit" value="SNAP" onclick="getElementById('symbol').value= this.value">Snap</button>
        <input type="hidden" id="symbol" name="symbol" value=''>
    </form>
    <p> </p>
    <div style="clear: both">
        <h5 style="display: inline;">Or manually input symbol</h5>
        <div class="tooltipz"> (?)
            <a class="tooltiptextz" href="https://stockanalysis.com/stocks/" target="top">A list of all symbols</a>
        </div>
    </div>
    <p> </p>
    <form action="/quote" method="post">
        <input type="text" id="symbolm" name="symbolm" placeholder="input symbol" required>
        <input type="submit">
    </form>
    <hr>
    <div style="clear: both">
        <h2 style="display: inline;"> 1 share of </h2>
        <h2 style="display: inline; color:#bb1111;">{{ name }} </h2>
        <h2 style="display: inline;">costs: $</h2>
        <h2 style="display: inline; color:#226633;">{{ price }}</h2>
    </div>

{% endblock %}
